// dark mode colors
$black: #000000;

// light mode colors
$white: #FFFFFF;
$purple : #B336FF;

.light-mode{
  background-color: $white;
  color: $black;
}
.dark-mode {
  background-color: $black;
  color: $white;
}