@import "./mixins";

// dark mode colors
$black: #000000;

// light mode colors
$white: #FFFFFF;
$purple: #B336FF;

.light-mode {
  background: linear-gradient(180deg, #FFF 0%, #B9B9B9 32.81%, #858585 60.94%, #363636 100%);
  color: $black;
  transition: background 1s, color 1s;
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0.87);
  color: $white;
  transition: background 1s, color 1s;
}

@font-face {
  font-family: "Bradley Hand";
  src: url('assets/fonts/bradley-hand-itc/BRADHITC.TTF');
}

.purple-color {
  color: $purple;
}

.no-decoration {
  text-decoration: none;
  color: unset;
}

.text-style {
  font-family: "Bebas Neue", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar-button,
.blank-div {
  display: none;
}

.sidebar-button {
  font-size: 30px;
}

.white-background {
  background-color: $white;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down-box {
  margin-top: 100px;
  transition: transform 0.5s ease-in-out;
}

.arrow-down-box:hover {
  transform: scaleY(1.2);
}

.hide {
  display: none;
}
.reveal{
  display: block !important;
}

#overlay {
  @include overlay()
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#popup-after-send {
  background-color: $white;
  width: 30%;
  margin: auto;
  padding: 3rem;
  border-radius: 30px;
}

#failure-box {
  p {
    color: #FF0000FF;
  }
}

#success-box {
  p {
    color: #008000FF;
  }
}

#mail-send-handler {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation-border{
  border: 1px solid #FF0000FF !important;
}
.validation-border-bottom{
  border-bottom: 1px solid #FF0000FF !important;
}

