@media screen and (min-width: 768px) and (max-width: 995px) {
  .text-style {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  .sidebar-button,
  .blank-div {
    display: block;
  }
  #photo-section {
    img:first-child {
      width: 70% !important;
    }
  }
  .bubble-holder {
    margin-bottom: 50px;
  }
  #popup-after-send {
    width: unset;
  }
  #intro-section {
    text-align: center;
    margin-top: 30px;
    align-items: center !important;
  }
  .my-certificates-text{
    top: -45% !important;
    left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .experience {
    flex-wrap: wrap;
  }
  #experience-box img {
    width: 100% !important;
  }
  .form-group {
    input {
      width: 100% !important;
    }
  }
  .top-corner {
    top: -6% !important;
    left: -14% !important;
    width: 25% !important;
  }
  .bottom-corner {
    bottom: -6% !important;
    right: -14% !important;
    width: 25% !important;
  }
}

@media screen and (max-width: 500px) {
  .email-form {
    padding: 1rem !important;
  }
  .arrow-left {
    left: 7% !important;
  }
  .arrow-right {
    right: 7% !important;
  }
  #qualifications {
    margin-top: 6rem;
  }
  .loader {
    width: 50px;
    height: 50px;
  }
  #social-section {
    width: 80% !important;
    margin-top: 2rem;
  }
  #photo-holder {
    margin: auto;
  }
  .bulb {
    left: 50% !important;
    width: 50%;
  }
  #certificates{
    margin-top: 60px;
  }
  .bubble-holder{
    margin-top: 150px !important;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .submit-button {
    width: 35% !important;
    margin: auto;
  }
}
