@media screen and (min-width: 768px) and (max-width: 995px) {
  .text-style {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  .sidebar-button,
  .blank-div {
    display: block;
  }
  #photo-section {
    img:first-child {
      width: 70% !important;
    }
  }
  .bubble-holder{
    margin-bottom: 50px;
  }
  #popup-after-send{
    width: unset;
  }
  #intro-section {
    text-align: center;
    margin-top: 30px;
    align-items: center !important;
  }
}

@media screen and (max-width: 500px) {
  #social-section {
    width: 80% !important;
  }
  #photo-holder{
    margin: auto;
  }
  .bulb {
    left: 50% !important;
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .experience {
    flex-wrap: wrap;
  }
  #experience-box img {
    width: 100% !important;
  }
  .form-group {
    input {
      width: 100% !important;
    }
  }
  .top-corner{
    top: -6% !important;
    left: -14% !important;
    width: 25% !important;
  }
  .bottom-corner{
    bottom: -6% !important;
    right: -14% !important;
    width: 25% !important;
  }
}
@media screen and (max-width: 500px){
  .email-form{
    padding: 1rem !important;
  }
  .arrow-left{
    left: 10% !important;
  }
  .arrow-right{
    right: 10% !important;
  }
}
