@import "../mixins";

#about {
  margin-top: 100px;
}

#degrees {
  gap: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.degree {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @include text-style(32px, "Bebas Neue");
    text-decoration: underline;
    margin-bottom: 0;
    text-align: center;
  }

  h3 {
    @include text-style(20px, "Bebas Neue");
    margin-bottom: 0;
  }

  p {
    @include text-style(15px, "Bebas Neue");
    margin-bottom: 0;
  }
}

#hobby {
  width: 50%;
  margin: auto;
}

#photo-section {
  flex-direction: column;
  img:first-child {
    width: 100%;
    filter: blur(2px);
    border-radius: 80px;
    transition: filter 1s ease-in-out, border-radius 1s ease-in-out;
  }

  img:first-child:hover {
    filter: none;
    border-radius: 0;
  }
}

.bubble-holder {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 5rem;
}

.skills-bubble-dark-shadow {
  box-shadow: 0 0 7px 4px #B336FF;
}

.skills-bubble-light-shadow {
  background-color: $white;
  box-shadow: 0 0 7px 4px $black;
}

.skills-bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  span {
    font-size: 20px;
    font-weight: 800;
  }
}

.bubble-holder .skills-bubble {
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.bubble-holder:hover .skills-bubble {
  transform: scale(0.5);

  &.skills-bubble-dark-shadow {
    box-shadow: 0 0 41.2px 12px #B336FF;
  }

  &.skills-bubble-light-shadow {
    background-color: $white;
    box-shadow: 0 0 41.2px 12px $black;
  }
}


.bubble {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  position: absolute;
  color: $black;
  opacity: 0;
  transition: opacity 0.3s ease;
  word-break: break-word;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
}

.bubble-holder:hover {
  .bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }

  .bubble-1 {
    width: 30px;
    height: 30px;
    animation: explode1 0.5s ease forwards;
  }

  .bubble-2 {
    width: 30px;
    height: 30px;
    animation: explode2 0.5s ease forwards;
  }

  .bubble-3 {
    animation: explode3 0.5s ease forwards;
  }

  .bubble-4 {
    animation: explode4 0.5s ease forwards;
    width: 30px;
    height: 30px;
  }

  .bubble-5 {
    animation: explode5 0.5s ease forwards;
  }

  .bubble-6 {
    animation: explode6 0.5s ease forwards;
  }

  .bubble-7 {
    animation: explode7 0.5s ease forwards;
  }

  .bubble-8 {
    animation: explode8 0.5s ease forwards;
  }

  .bubble-9 {
    width: 30px;
    height: 30px;
    animation: explode9 0.5s ease forwards;
  }

  .bubble-10 {
    width: 50px;
    height: 50px;
    animation: explode10 0.5s ease forwards;
  }
}

@keyframes explode1 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(-160%, -80%);
  }
}

@keyframes explode2 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(-25%, -100%);
  }
}

@keyframes explode3 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(182%, 164%);
  }
}

@keyframes explode4 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(-50%, 310%);
  }
}

@keyframes explode5 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(100%, -70%);
  }
}

@keyframes explode6 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(-140%, 175%);
  }
}

@keyframes explode7 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(180%, 15%);
  }
}

@keyframes explode8 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(-175%, 50%);
  }
}

@keyframes explode9 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(80%, 320%);
  }
}

@keyframes explode10 {
  0% {
    transform: translate(0, 0);
    display: none;
  }
  100% {
    transform: translate(220%, 120%);
  }
}


#certificates {
  position: relative;
  width: 100%;
  height: 200px;
}

.certif {
  position: absolute;
  opacity: 0;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  transition: opacity 1s ease, scale 1s ease;
  transform-origin: right top;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(50%, -50%);
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.active-certificate {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
  z-index: 1;
}


