#experience {
  margin-top: 100px;
}
#experience-race{
    width: 100%;
    height: 1px;
    background-color: $white;
    position: relative;
}
.car-holder{
  position: absolute;
  bottom: 100%;
  transition: right 0.5s ease-in-out;
}
.right-arrow-local{
  position: absolute;
  top: 66%;
  right: -12%;
  cursor: pointer;
}
.left-arrow-local{
  position: absolute;
  top: 66%;
  left: 38%;
  cursor: pointer;
}
.flag{
  position: absolute;
  left: 0;
  bottom: 100%;
}