footer{
  background-color: $black;
  box-shadow: 0 0 7px 4px #B336FF;
  margin-top: 4rem;
  padding: 1rem;
  p{
    font-family: "Caveat", serif;
    font-size: 22px;
  }
}

.footer-light{
  background-color: #ffffffc7 !important;
}