@import "../mixins";
header {
  padding: 14px;
}
header h1 {
  color: $white;
  margin: 0;
}
.navbar-list{
  list-style-type: none;
  margin: 0;
  @include text-style(30px,"Bebas Neue")
}
.navbar-list li {
  text-decoration: none;
  margin-left: 24px;
}
.light-mode-box-shadow{
  box-shadow: 0 -8px 26.2px 0px #B336FF !important;
}
.top-header{
  position: relative;
  box-shadow: 0px -8px 26.2px 3px #fff;
}
.bulb{
  position: absolute;
  top: 100%;
  left: 30%;
  .click{
    position: absolute;
    top: 15%;
    left: 15%;
  }
  #bulb-light-mode{
    width: 100%;
  }
  #bulb-dark-mode{
    width: 100%;
  }
}
